<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/detail-blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body>

{{!-- navbar --}}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/img/dumbways.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link active" href="/blog">Add Project</a></li>
                <li><a class="nav-link" href="/testimonial">Testimonial</a></li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn-contact">
                <a href="/contact" style="text-decoration: none; color: white;">Contact Me</a>
            </button>
        </div>
        </div>
    </nav>

{{!-- content --}}
    <section class="container">
        <div class="judul">
            <h1>blog-detail{{id}}</h1>
        </div>
        <div class="information">
            <div class="image">
                <img src="assets/img/wolf.jpg" alt="">
            </div>
        <div class="information1">
            <h3>Duration</h3>
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                <label for="date">6 January 2024 - 16 January 2024</label>
            </div>
            <div class="month">
                <i class="fa-regular fa-clock"></i>
                <label for="month">1 Month</label>
            </div>
            <div class="Technologies">
                <h3>Technologies</h3>
            </div>
            <div class="icon-1">
                <div class="icon1">
                    <i class="fa-brands fa-node-js"></i>
                    <label for="NodeJs">Node Js</label>
                </div>
            <div class="icon2">
                <i class="fa-brands fa-php"></i>
                <label for="php">PHP</label>
            </div>
            </div>
            <div class="icon-2">
                <div class="icon3">
                    <i class="fa-brands fa-apple"></i>
                    <label for="apple">Apple</label>
                </div>
            <div class="icon4">
                <i class="fa-brands fa-android"></i>
                <label for="android">Android</label>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non est reiciendis deserunt, quae harum amet totam voluptas doloribus fuga, vitae natus placeat autem laborum facere assumenda quisquam corporis! Molestiae, placeat!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil optio architecto praesentium quaerat reprehenderit inventore velit magnam voluptatem aliquid eveniet consequatur nostrum earum natus, nulla, dolore voluptate fuga sint.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda exercitationem dignissimos, sed pariatur recusandae neque aperiam. Aut eius esse officiis nisi vel eum quam labore voluptatibus quis. Laboriosam, sed ipsam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, placeat. Perferendis in ex voluptates possimus minima! Eum voluptate minus tempora, earum, nam similique optio commodi obcaecati consectetur molestiae veniam ad. <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit blanditiis nihil nemo accusantium quam adipisci, vitae mollitia ipsam facere fugit alias sed earum expedita sequi architecto possimus voluptatibus eos in?
            ipsum dolor sit amet consectetur adipisicing elit. Velit dicta cupiditate quia illo totam nihil quis in, nam consectetur perferendis repudiandae assumenda sit mollitia at laborum fuga repellendus esse quos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt culpa quaerat magni voluptates veritatis illum cum minima enim at veniam autem, sunt asperiores, animi nostrum, eveniet laboriosam deleniti atque ut!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere placeat debitis quidem repudiandae quaerat nihil sapiente rerum cupiditate, dolor neque saepe dicta. Accusamus delectus aliquam animi asperiores quas quaerat suscipit!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quibusdam nesciunt omnis doloribus, provident magnam aliquam. Eligendi, veritatis illum totam, exercitationem unde nostrum non reprehenderit ex nesciunt, eaque aliquam perspiciatis.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, perferendis. Nulla earum temporibus odit minima! Pariatur, magni inventore. Nisi maiores mollitia optio sapiente corporis ab explicabo voluptatibus saepe ducimus sed?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis magnam mollitia iure aut, qui optio explicabo modi! Magni consequatur, aut delectus maiores maxime minus fugit, ex omnis fuga ipsa impedit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque enim impedit veniam inventore esse eveniet dolores iste at molestias iusto atque fugit nobis excepturi animi officiis, sed fugiat distinctio odio! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officia veniam iusto nemo quasi. Nobis quisquam quas et similique voluptate commodi ab. Voluptas natus, alias ipsum suscipit quas nostrum hic.
            ipsum dolor sit amet consectetur adipisicing elit. Debitis culpa sed quam expedita illo praesentium consequatur perferendis, assumenda animi cumque? Enim deleniti ipsam earum quam dolores animi reprehenderit quod consectetur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem adipisci optio libero corporis laborum quas perferendis dolorum iure, consequatur vero assumenda eius dolore similique, molestias ipsum velit, eveniet suscipit facilis? <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor atque ad, soluta inventore est quo repellendus expedita officia laudantium unde beatae non recusandae laboriosam officiis vel distinctio iusto nemo dolores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem neque inventore deleniti aliquid magnam minima autem similique totam, architecto corporis? Incidunt odio, cum ducimus dolorem saepe ea expedita praesentium facilis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae animi numquam illo quo sapiente obcaecati quidem necessitatibus exercitationem ad ullam repellendus at, provident cumque! Magni quaerat magnam architecto enim incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae exercitationem ab eum omnis nemo voluptatibus id officiis temporibus. Libero, facere voluptatibus error magni ipsam consequuntur fugiat nam aut iste!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor odio ipsa tempora sequi illo labore expedita dolore soluta nihil commodi facere tenetur, maxime atque laudantium suscipit est voluptate, laborum vel?
            <br>
            <br>
            <br>
        </p>
    </div>
    </section>
   
  </body>
</html>