<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/index2.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/dumbways.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li><a class="nav-link active" href="/">Home</a></li>
          <li><a class="nav-link" href="/blog">Add Project</a></li>
          <li><a class="nav-link" href="/testimonial">Testimonial</a></li>
      </ul>
    </div>
    <div>
      <button type="button" class="btn-contact">
        <a href="/contact" style="text-decoration: none; color: white;">Contact Me</a>
      </button>
    </div>
  </div>
</nav>

<!-- Content -->
    <section class="container">
      <div class="satu">
          <h1>Hi Welcome To My Hut</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
               Nam, laborum sint exercitationem similique quod, 
               necessitatibus ullam maxime asperiores veniam incidunt quam voluptate in sunt et 
               doloribus nostrum labore dicta obcaecati. Lorem ipsum dolor sit amet, 
               consectetur adipisicing elit. Ipsam vel, quam dolore illum repellendus repellat vero, 
               sint et harum tempore qui est laudantium optio nostrum ea dolores 
               quasi voluptate! Autem?</p>
          <div class="satu1">
              <button type="button" class="btn">Contact</button>
              <a href="#">download CV</a>
              <i data-feather="download"></i>
          </div>
          <div class="satu11" style="display: flex;">
              <i data-feather="linkedin" style="margin-right: 20px;"></i>
              <i data-feather="instagram" style="margin-right: 20px;"></i>
              <i data-feather="facebook" style="margin-right: 20px;"></i>
              <i data-feather="twitter" style="margin-right: 0px;"></i>  
          </div>
      </div>
         <div class="dua">
            <img src="./assets/img/download.jpg" alt="">
            <h2>Ikhwan Haqim</h2>
            <p>Fullstack Developer</p>
        </div>
    </section>
    <script src="assets/js/navbar.js"></script>
    <script>
    feather.replace();
    </script>
  </body>
</html>